.mov-comp {
    padding: 2rem 0rem;
}

.m-c-card {
    border: 1px solid #eeeeee;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 2rem;
    cursor: pointer;
    margin-bottom: 0.5rem;
    margin-right: -0.5rem;
}
.m-c-card h1 {
    font-size: 1.5rem;
}
.m-c-card img {
    width: 250px;
    height: 350px;
}
.m-c-card p{
    text-align: left;
    margin-bottom: 0.5rem;
}
.m-c-card p span{
    font-weight: bold;
}
.m-c-detail {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}